@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

:root {
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
  --grayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
  --fontSizeQuote: 28px;
  --font: 'Manrope', sans-serif;  
  --fontWeight: 800;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--darkBlue);
}

section {
  background-color: var(--darkGrayishBlue);
  width: 550px;
  height: 340px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.id {
  margin: 0;
  color: var(--neonGreen);
  letter-spacing: 4px;
  font-weight: 500;
  text-transform: uppercase;
}

.quote {
  margin: 2rem 0;
  font-weight: var(--fontWeight);
  font-size: var(--fontSizeQuote);
  color: var(--lightCyan);
}

section img {
  margin: .5rem;
}

button {
  margin-top: 1.5rem;
  border: none;
  background-color: var(--neonGreen);
  padding: 1rem;
  border-radius: 50%;
  align-self: center;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 40px var(--neonGreen);
}

.attribution {
  position: absolute;
  bottom: 10px;
  color: var(--lightCyan);
}

.attribution a {
  color: var(--neonGreen);
}

.attribution a:hover {
  text-decoration: underline;
}
